<!-- templates/base.html -->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Social-Media DB{% endblock %}</title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, msg in messages %}
        <li class="flash-{{ category }}">{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<style>
  .flash-success { color: green; }
  .flash-warning { color: orange; }
  .flash-danger  { color: red; }
</style>

    <nav>
      <a href="/media">Media</a> |
      <a href="/users">Users</a> |
      <a href="/posts">Posts</a> |
      <a href="/reposts">Reposts</a> |
      <a href="/institutes">Institutes</a> |
      <a href="/projects">Projects</a> |
      <a href="/fields">Fields</a> |
      <a href="/project-posts">Links</a> |
      <a href="/analyses">Analyses</a> |
      <a href="/search-posts">Search Posts</a> |
      <a href="/search-experiments">Search Experiments</a>
    </nav>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>
